*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Rubik Mono One; 
}

img{
    width: 100%;
}

/* BOTTON */
.botton{
display: inline-block;
}
.botton > a{
    text-decoration: none;
    color: black;
    list-style-type: none;
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    display: inline-block;
}
ul{
    position: fixed;
    top: 5vh;
    right: 5vw;
    z-index: 50;
}

/* END BOTTON */

/* MAIN */

/* COMMONS */

.shoes{
    width: 100%;
    height: 100vh;
    position: relative;
}
.img-description{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}
.img-description > h2{
    text-transform:uppercase;
    color: yellow;
    font-weight: 800;  
    font-size: 40px;
}


/* END COMMONS */

/* colore background section 1 */
.shoes.uno{
   background-color: red;
}
/* colore background section 2 */
.shoes.due{
    background-color: green;
 }
 /* colore background section 3 */
 .shoes.tre{
    background-color:yellow;
 }
 #green{
     color: green;
 }

/* END MAIN */